@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SolaimanLipi";
  font-display: swap;
  font-style: normal;
  src: url("./fonts/SolaimanLipi.eot"); /* IE9*/
  src: url("./fonts/SolaimanLipi.eot?#iefix") format("embedded-opentype"),
    url("./fonts/SolaimanLipi.woff") format("woff"),
    url("./fonts/SolaimanLipi.ttf") format("truetype"),
    url("./fonts/SolaimanLipi.svg#SolaimanLipi") format("svg");
}
@font-face {
  font-family: "Hind Siliguri";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/HindSiliguri-Bold.woff") format("woff"),
    url("./fonts/HindSiliguri-Bold.woff2") format("woff2"),
    url("./fonts/HindSiliguri-Bold.ttf") format("truefype");
}

@font-face {
  font-family: "Hind Siliguri";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/HindSiliguri-SemiBold.woff") format("woff"),
    url("./fonts/HindSiliguri-SemiBold.woff2") format("woff2"),
    url("./fonts/HindSiliguri-SemiBold.ttf") format("truefype");
}

:root {
  --solaimani-lipi: "SolaimanLipi", "Roboto";
  --hind-siliguri: "Hind Siliguri", "sans-serif";
  --roboto: "Roboto", "SolaimanLipi";
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: var(--roboto);
  @apply text-lg font-normal;
}

h1,
h2,
h3 {
  font-family: var(--hind-siliguri);
}

.heading {
  @apply text-4xl mt-10 text-center font-bold uppercase text-slate-700 dark:text-slate-300;
}
